{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "./src/app.css"
}
