.DS_Store
node_modules
.svelte-kit
.wrangler
.astro

dist
build
target

*.tsbuildinfo
.pnpm-debug.log
lerna-debug.log

.env
.env.*
!.env.test
!.env.localhost
!.env.dev
!.env.production

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.pnpm-store

.turbo
.claude
plans
