body {
  --sl-content-width: 100%;
}

.sl-anchor-link {
  display: none;
}

@media print {
  @page {
    size: 30cm 20cm;
    margin: 0;
  }

  section.brochure-page {
    margin: 0;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    max-width: 100%;
  }

  section.brochure-section {
    margin: 0;
    max-width: 100%;
  }
}

.content-panel {
  padding: 0;
}

main {
  padding: 0;
}

footer {
  display: none;
}
