/*
 * ========================================================================
 * Geograph
 * ========================================================================
 */

@font-face {
  font-family: 'Geograph';
  src: url('https://fonts.allmaps.org/geograph/geograph-light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Geograph';
  src: url('https://fonts.allmaps.org/geograph/geograph-regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Geograph';
  src: url('https://fonts.allmaps.org/geograph/geograph-regular-italic.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Geograph';
  src: url('https://fonts.allmaps.org/geograph/geograph-medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Geograph';
  src: url('https://fonts.allmaps.org/geograph/geograph-bold.woff2');
  font-weight: 700;
}

:root {
  --geograph-ss01: 'ss01' off;
  --geograph-ss02: 'ss02' off;
  --geograph-ss03: 'ss03' off;
  --geograph-tnum: 'tnum' off;
}

/*
 * ========================================================================
 * DM Mono
 * ========================================================================
 */

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-regular.ttf');
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-mediumitalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-lightitalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('https://fonts.allmaps.org/dmmono/dmmono-light.ttf');
  font-weight: 300;
}
